<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

    <section class="popup">
        <span class="cloze"></span>
        <span class="cloze-body"></span>
        <div class="popup-content">
            <img src="../img/leading-img2.png" alt="">
        </div>
    </section>

    <header id="header" class="header">
        <div class="container clearfix">
            <a class="question" href="javascript:void(0)">Задать вопрос</a>
            <div class="title">
                <a href="index.html"></a>
                <h2>СТАЛЬНАЯ ХВАТКА</h2>
                <h3>клей жидкие гвозди</h3>
            </div>
            <div class="menu-sosial">
                <div class="sosial">
                    <ul>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon4.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <li><a href="#what-paste">Что приклеить?</a></li>
                        <li><a href="#steel-grip">Преимущества</a></li>
                        <li><a href="#leading">Производитель</a></li>
                        <li><a href="#how-use">Применение</a></li>
                        <li><a href="instructions.html">Инструкции</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <section id="banner" class="banner" style="background: url('../img/banner-bg.png') no-repeat 50% 0; background-size: cover;">
        <img src="../img/banner-icon.png" alt="" class="banner-icon" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
        <!---->
        <img src="../img/banner-icon.png" alt="" class="banner-icon1" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
        <!---->
        <img src="../img/banner-icon2.png" alt="" class="banner-icon2" data-stellar-ratio="1.7" data-stellar-vertical-offset="0">
        <!-- -->
        <div class="container">
            <div class="banka-banner">
                <div class="banka-item1">
                    <span class="square"></span>
                    <span class="line"></span>
                    <div class="banka-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <div class="banka-item2">
                    <span class="square"></span>
                    <span class="line"></span>
                    <div class="banka-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <div class="banka-item3">
                    <span class="square"></span>
                    <span class="line"></span>
                    <div class="banka-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <div class="banka-item4">
                    <span class="square"></span>
                    <span class="line"></span>
                    <div class="banka-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <img src="../img/banka-banner.png">
            </div>
            <div class="banner-text">
                <h2>КЛЕЙ ДЛЯ СТРОИТЕЛЬНЫХ И ДЕКОРАТИВНЫХ МАТЕРИАЛОВ</h2>
                <h4>универсальный и высокопрочный</h4>
                <a class="wow bounceInDown" href="javascript:void(0)"><img src="../img/top-icon.png"></a>
                <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить
                    потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков</p>
            </div>
        </div>
    </section>

    <section id="what-paste" class="what-paste">
        <div class="title">
            <div class="container">
                <h2>Что приклеить?</h2>
            </div>
        </div>
        <div class="what-paste-content">
            <div class="container">
                <div class="what-paste-items">
                    <div class="what-paste-item wow bounceInLeft animation-delay-200">
                        <div class="img" style="background: url('../img/what-paste-item-img.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Керамика</h3>
                    </div>
                    <div class="what-paste-item wow bounceInLeft animation-delay-100">
                        <div class="img" style="background: url('../img/what-paste-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Камень</h3>
                    </div>
                    <div class="what-paste-item wow bounceInLeft">
                        <div class="img" style="background: url('../img/what-paste-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>ПВХ-панели</h3>
                    </div>
                    <div class="what-paste-item wow bounceInRight">
                        <div class="img" style="background: url('../img/what-paste-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Дерево</h3>
                    </div>
                    <div class="what-paste-item wow bounceInRight">
                        <div class="img" style="background: url('../img/what-paste-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Пенопласт</h3>
                    </div>
                    <div class="what-paste-item wow bounceInRight animation-delay-100">
                        <div class="img" style="background: url('../img/what-paste-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Гипсокартон</h3>
                    </div>
                    <div class="what-paste-item wow bounceInRight animation-delay-200">
                        <div class="img" style="background: url('../img/what-paste-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Пенополистерол</h3>
                    </div>
                    <div class="what-paste-item wow bounceInLeft">
                        <div class="img" style="background: url('../img/what-paste-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                            <a href="instructions.html">Узнать больше</a>
                        </div>
                        <h3>Пробка</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="universal">
        <div class="container">
            <div class="universal-text">
                <h2>КЛЕЙ ДЛЯ СТРОИТЕЛЬНЫХ И ДЕКОРАТИВНЫХ МАТЕРИАЛОВ</h2>
                <h4>универсальный и высокопрочный</h4>
                <a class="wow bounceInDown" href="javascript:void(0)" style="visibility: visible; animation-name: bounceInDown;"><img src="../img/top-icon.png"></a>
                <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить
                    потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков
                </p>
            </div>
        </div>
    </section>

    <section id="steel-grip" class="steel-grip" style="background: url('../img/steel-grip-bg.png') no-repeat 50% 0; background-size: cover;">
        <div class="container">
            <h2>Почему «Стальная хватка»?</h2>
            <div class="steel-grip-item left">
                <div class="item-img wow bounceInLeft" style="background: url('../img/item-img1.png') no-repeat 50% 0; background-size: cover;"></div>
                <div class="item-text wow bounceInRight">
                    <h4>Высочайшая прочность склеивания от 500 кг/м2</h4>
                    <p><span>Керамогранит на жидкие гвозди?</span> Легко! Стальная хватка зафиксирует даже тяжелые материалы, для которых раньше использовались только специальные клеи.</p>
                </div>
            </div>
            <div class="steel-grip-img">
                <div class="steel-grip-items1">
                    <span class="square"></span>
                    <span class="grip-line"></span>
                    <div class="steel-grip-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <div class="steel-grip-items2">
                    <span class="square"></span>
                    <span class="grip-line"></span>
                    <div class="steel-grip-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <div class="steel-grip-items3">
                    <span class="square"></span>
                    <span class="grip-line"></span>
                    <div class="steel-grip-text">
                        <h4>универсальный</h4>
                        <p>Стальная хватка подходит для склеивания большинства материалов</p>
                    </div>
                </div>
                <img src="../img/steel-grip-img.png" alt="">
            </div>
            <div class="steel-grip-item right">
                <div class="item-img wow bounceInRight" style="background: url('../img/item-img2.png') no-repeat 50% 0; background-size: cover;"></div>
                <div class="item-text wow bounceInLeft">
                    <h4>Превосходно удерживается на наклонных и вертикальных поверхностях</h4>
                    <p>Приклеить декоративный элемент на стену и не запачкать пол? Теперь возможно! Клей Стальная хватка превосходно держится на любых наклонных и вертикальных поверхностях. Это не только чистое приклеивание, но и равномерное, а значит –
                        одинаковая прочность склеивания по всей поверхности.</p>
                </div>
            </div>
            <div class="steel-grip-item left">
                <div class="item-img wow bounceInLeft" style="background: url('../img/item-img3.png') no-repeat 50% 0; background-size: cover;"></div>
                <div class="item-text wow bounceInRight">
                    <h4>Возможность корректировки склеивания в течение нескольких минут</h4>
                    <p>Не каждый раз получается приклеить элемент ровно и в нужном месте. Стальная хватка позволяет корректировать положения в течении нескольких минут после приклеивания.</p>
                </div>
            </div>
        </div>
        <img src="../img/steel-grip-icon1.png" alt="" class="steel-grip-icon1" data-stellar-ratio="1.3" data-stellar-vertical-offset="0">
        <img src="../img/steel-grip-icon2.png" alt="" class="steel-grip-icon2" data-stellar-ratio="1.1" data-stellar-vertical-offset="0">
    </section>

    <section id="leading" class="leading">
        <div class="container">
            <div class="leading-items clearfix">
                <div class="leading-item">
                    <div class="leading-item-icon">
                        <img src="../img/leading-item-icon.png" alt="">
                    </div>
                    <h4><img src="../img/leading-item-arrow.png" alt="">Без органических растворителей</h4>
                    <p>Стальная хватка не разъедает кожу и не выделяет опасных соединений, а также пожаробезопасна.</p>
                </div>
                <div class="leading-item">
                    <div class="leading-item-icon">
                        <img src="../img/leading-item-icon2.png" alt="">
                    </div>
                    <h4><img src="../img/leading-item-arrow2.png" alt="">Транспортная морозостойкость</h4>
                    <p>Не бойтесь вести клей в минусовую температуру. Если он замерзнет, оставьте его при комнатной температуре и смело используйте через 24 часа.</p>
                </div>
                <div class="leading-item">
                    <div class="leading-item-icon">
                        <img src="../img/leading-item-icon3.png" alt="">
                    </div>
                    <h4><img src="../img/leading-item-arrow3.png" alt="">Экологически безопасна</h4>
                    <p>Земля — наш общий дом. Стальная хватка безопасна для окружающей среды и не принесет ей вред.</p>
                </div>
            </div>
            <a href="javascript:void(0)" class="top wow bounceInDown"><img src="../img/top-icon.png"></a>
            <a href="http://homa.ru/" target="_blanck" class="logo">
                <img class="logo" src="../img/logo.png" alt="">
            </a>
            <h6>Стальную хватку выпускает Компания Хома. Это ведущий производитель клеевых материалов в России.</h6>
            <ul class="leading-click clearfix">
                <li>
                    <img src="../img/leading-img.png" alt="">
                    <span>Свидетельство о регистрации</span>
                </li>
                <li>
                    <img src="../img/leading-img2.png" alt="">
                    <span>Решение об отказе в проведении обязательной сертификации</span>
                </li>
                <li>
                    <img src="../img/leading-img3.png" alt="">
                    <span>Сертификат соответствия</span>
                </li>
            </ul>
            <a target="_blank" href="www.homa.ru" class="link">www.homa.ru</a>
        </div>
    </section>

    <section id="how-use" class="how-use">
        <div class="title">
            <div class="container">
                <h2>Как использовать «Стальную хватку»?</h2>
            </div>
        </div>
        <div class="how-use-container">
            <div class="container">
                <div class="how-use-items">
                    <div class="how-use-item wow bounceInLeft clearfix">
                        <img src="../img/how-use-img.png" alt="">
                        <p>Для гарантированного результата склеиваемые поверхности должны быть сухими, чистыми, обезжиренными. Хотя бы одна из поверхностей должна впитывать клей. </p>
                    </div>
                    <div class="how-use-item wow bounceInRight clearfix">
                        <img src="../img/how-use-img.png" alt="">
                        <p>Клей наносится равномерно или точечно на основу или приклеиваемый материал. Склеиваемые поверхности соединить и прижать друг к другу на несколько минут. </p>
                    </div>
                    <div class="how-use-item wow bounceInLeft clearfix">
                        <img src="../img/how-use-img.png" alt="">
                        <p>При приклеивании тяжелый элементов, удерживать их необходимо в течении 10 минут, а после обязательно зафиксировать на 72 часа. </p>
                    </div>
                    <div class="how-use-item wow bounceInRight clearfix">
                        <img src="../img/how-use-img.png" alt="">
                        <p>Излишки клея удалить влажной тканью. Кожный покров, инструмент и тару отмыть теплой водой с мылом до высыхания продукта. Затвердевший клей может быть удален только механически.</p>
                    </div>
                </div>
                <a href="javascript:void(0)" class="top wow bounceInDown"><img src="../img/top-icon.png"></a>
                <div id="packing" class="packing">
                    <h4>Фасовка</h4>
                    <div class="packing-items clearfix">
                        <div class="packing-item">
                            <img src="../img/packing-item.png" alt="">
                            <span>1,5 кг</span>
                            <p>1,5 кг клея рассчитан на 1,5-3 м2 <strong>Рекомендованная розничная цена 888р</strong></p>
                        </div>
                        <div class="packing-item">
                            <img src="../img/packing-item2.png" alt="">
                            <span>4,5 кг</span>
                            <p>4,5 кг клея рассчитаны на 4,5-15 м2 <strong>Рекомендованная розничная цена 888р</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../img/how-use-icon1.png" alt="" class="how-use-icon1" data-stellar-ratio="1.1" data-stellar-vertical-offset="0">
            <img src="../img/steel-grip-icon2.png" alt="" class="how-use-icon2" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
        </div>
    </section>

    <footer>
        <div class="container">
            <a class="top-scroll" href="#banner"><img src="../img/top-scroll.png" alt=""></a>
            <ul>
                <li><a href="#banner">Описание</a></li>
                <li><a href="#steel-grip">Преимущества</a></li>
                <li><a href="#how-use">Применение</a></li>
                <li><a href="#leading">Производитель</a></li>
                <li><a href="#packing">Фасовка</a></li>
                <li><a href="instructions.html">Инструкция</a></li>
            </ul>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>
</body>

</html>