<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/instructions.css">
</head>

<body>

    <header id="header" class="header">
        <div class="container clearfix">
            <a class="question" href="javascript:void(0)">Задать вопрос</a>
            <div class="title">
                <a href="index.html"></a>
                <h2>СТАЛЬНАЯ ХВАТКА</h2>
                <h3>клей жидкие гвозди</h3>
            </div>
            <div class="menu-sosial">
                <div class="sosial">
                    <ul>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon4.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <li><a href="#what-paste">Что приклеить?</a></li>
                        <li><a href="#steel-grip">Преимущества</a></li>
                        <li><a href="#leading">Производитель</a></li>
                        <li><a href="#how-use">Применение</a></li>
                        <li><a href="instructions.html">Инструкции</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <section class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="imdex.html">Стальная хватка</a></li>
                <li><a href="instructions.html">Инструкции</a></li>
                <li><span>Как приклеить керамическую плитку?</span></li>
            </ul>
        </div>
    </section>

    <section class="instructions-inner">
        <div class="container">
            <div class="inner-text clearfix">
                <img src="../img/instructions-item-img.png" alt="">
                <div class="item-text">
                    <h3>Как приклеить керамическую плитку?</h3>
                    <i>В ванной отвалилась плитка? Как отремонтировать плиточный пол? Стальная хватка 
                    справится с любой задачей.</i>
                </div>
            </div>
            <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную
                плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков</p>
            <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную
                плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков</p>
            <div class="inner-text2 clearfix">
                <img src="../img/banka_st_hvatka.png" alt="">
                <div class="item-text">
                    <i>Cтальная хватка поможет справиться с любой трудной задачей. Ремонт станет приятнее.</i>
                    <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить
                        потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков</p>
                </div>
            </div>
            <ul class="inner-ul">
                <li>
                    <img src="../img/icon1.png" alt="">
                    <span>высочайшая прочность клеевого соединения от 500 кг/м2</span>
                </li>
                <li>
                    <img src="../img/icon1.png" alt="">
                    <span>возможность корректировки склеивания в течение нескольких минут</span>
                </li>
                <li>
                    <img src="../img/icon1.png" alt="">
                    <span>превосходно удерживается на наклонных и вертикальных поверхностях</span>
                </li>
                <li>
                    <img src="../img/icon1.png" alt="">
                    <span>отличная адгезия ко всем строительным  материалам без органических растворителей</span>
                </li>
            </ul>
            <p>Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную
                плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта.Как приклеить потолочную плитку, чем приклеить кафельную плитку, клей для дерева, клей для локального ремонта. Текст на 450 знаков</p>
            <div class="sosial-link clearfix">
                <a class="link" href="instructions.html">[  Вернуться к выбору статьи ]</a>
                <div class="sosial">
                    <ul>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon4.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider">
                <i>Что еще можно приклеить Стальной хваткой?</i>
                <div class="slider-content">
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img.png" alt="">
                        <h5>камень</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img2.png" alt="">
                        <h5>дерево</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img3.png" alt="">
                        <h5>ПВХ</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img4.png" alt="">
                        <h5>гипсокартон</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img.png" alt="">
                        <h5>камень</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img2.png" alt="">
                        <h5>дерево</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img3.png" alt="">
                        <h5>ПВХ</h5>
                    </div>
                    <div>
                        <a href="instructions.html"></a>
                        <img src="../img/slider-img4.png" alt="">
                        <h5>гипсокартон</h5>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/paralacs-icon7.png" alt="" class="paralacs-icon7" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
        <img src="../img/paralacs-icon8.png" alt="" class="paralacs-icon8" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
    </section>

    <footer>
        <div class="container">
            <a class="top-scroll" href="#banner"><img src="../img/top-scroll.png" alt=""></a>
            <ul>
                <li><a href="#banner">Описание</a></li>
                <li><a href="#steel-grip">Преимущества</a></li>
                <li><a href="#how-use">Применение</a></li>
                <li><a href="#leading">Производитель</a></li>
                <li><a href="#packing">Фасовка</a></li>
                <li><a href="instructions.html">Инструкция</a></li>
            </ul>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/instructions.min.js"></script>
</body>

</html>