<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HOMA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/instructions.css">
</head>

<body>

    <header id="header" class="header">
        <div class="container clearfix">
            <a class="question" href="javascript:void(0)">Задать вопрос</a>
            <div class="title">
                <a href="index.html"></a>
                <h2>СТАЛЬНАЯ ХВАТКА</h2>
                <h3>клей жидкие гвозди</h3>
            </div>
            <div class="menu-sosial">
                <div class="sosial">
                    <ul>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon1.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon2.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon3.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon4.png" alt=""></a>
                        </li>
                        <li>
                            <a target="_blank" href="javascript:void(0)"><img src="../img/sosial-icon5.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <li><a href="#what-paste">Что приклеить?</a></li>
                        <li><a href="#steel-grip">Преимущества</a></li>
                        <li><a href="#leading">Производитель</a></li>
                        <li><a href="#how-use">Применение</a></li>
                        <li><a href="instructions.html">Инструкции</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <section class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="javascript:void(0)">Стальная хватка</a></li>
                <li><span>Инструкции</span></li>
            </ul>
        </div>
    </section>

    <section class="instructions">
        <div class="container">
            <div class="instructions-items">
                <div class="instructions-item clearfix">
                    <a href="instructions-inner.html"></a>
                    <img src="../img/instructions-item-img.png" alt="">
                    <div class="item-text">
                        <h3>Как приклеить керамическую плитку?</h3>
                        <p>В ванной отвалилась плитка? Как отремонтировать плиточный пол? Стальная хватка справится с любой задачей.</p>
                    </div>
                </div>
                <div class="instructions-item clearfix">
                    <a href="instructions-inner.html"></a>
                    <img src="../img/instructions-item-img2.png" alt="">
                    <div class="item-text">
                        <h3>Как самостоятельно отремонтировать паркет?</h3>
                        <p>В ванной отвалилась плитка? Как отремонтировать плиточный пол? Стальная хватка справится с любой задачей.</p>
                    </div>
                </div>
                <div class="instructions-item clearfix">
                    <a href="instructions-inner.html"></a>
                    <img src="../img/instructions-item-img3.png" alt="">
                    <div class="item-text">
                        <h3>Мастер-класс по приклеиванию линолеума</h3>
                        <p>В ванной отвалилась плитка? Как отремонтировать плиточный пол? Стальная хватка справится с любой задачей.</p>
                    </div>
                </div>
                <div class="instructions-item clearfix">
                    <a href="instructions-inner.html"></a>
                    <img src="../img/instructions-item-img4.png" alt="">
                    <div class="item-text">
                        <h3>Мастер-класс по приклеиванию линолеума</h3>
                        <p>В ванной отвалилась плитка? Как отремонтировать плиточный пол? Стальная хватка справится с любой задачей.</p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/paralacs-icon7.png" alt="" class="paralacs-icon7" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
        <img src="../img/paralacs-icon8.png" alt="" class="paralacs-icon8" data-stellar-ratio="1.4" data-stellar-vertical-offset="0">
    </section>

    <footer>
        <div class="container">
            <a class="top-scroll" href="#banner"><img src="../img/top-scroll.png" alt=""></a>
            <ul>
                <li><a href="#banner">Описание</a></li>
                <li><a href="#steel-grip">Преимущества</a></li>
                <li><a href="#how-use">Применение</a></li>
                <li><a href="#leading">Производитель</a></li>
                <li><a href="#packing">Фасовка</a></li>
                <li><a href="instructions.html">Инструкция</a></li>
            </ul>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/instructions.min.js"></script>
</body>

</html>